<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ứng viên có kỹ năng này</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Ứng viên có kỹ năng đã chọn</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Tên ứng viên</th>
            <th>Số điện thoại</th>
            <th>Nơi ở</th>
            <th>Ngày sinh</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.getFull_name()}"></td>
            <td th:text="${candidate.getPhone()}"></td>
            <td th:text="${candidate.getAddress().getCity()}"></td>
            <td th:text="${#temporals.format(candidate.dob, 'yyyy-MM-dd')}"></td>
            <td th:text="${candidate.email}"></td>
            <td>
                <a href="" class="btn btn-success">Gửi mail mời</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
