<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <!-- Sử dụng Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2 th:text="'Chọn tư cách đăng nhập'" style="text-align: center"></h2>
    <p></p>
    <a th:href="@{/candidate-login}" class="btn btn-primary btn-lg btn-block">Đăng nhập với tư cách Ứng viên</a>
    <a th:href="@{/company-login}" class="btn btn-success btn-lg btn-block">Đăng nhập với tư cách Nhà tuyển dụng</a>
</div>

<!-- Sử dụng Bootstrap JS và jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
