<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kỹ năng cần học</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Một số kỹ năng bạn có thể học:</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Tên kỹ năng</th>
            <th>Mô tả</th>
        </tr>
        </thead>
        <tbody>
        <!-- Sử dụng Thymeleaf để lặp qua danh sách công việc và giá trị price -->
        <tr th:each="skill : ${skills}">
            <td th:text="${skill.getSkill_name()}"></td>
            <td th:text="${skill.getSkill_desc()}"></td>
            <td>
                <a href="" class="btn btn-primary">Học</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
